<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MaxNodeX" value="30"/>
		<add key="MaxNodeY" value="20"/>
		<add key="RecordPath" value="./record/"/>
		<add key="IsActive" value="false"/>
		<add key="LineThickness" value="2.5"/>
		<add key="NodeButtonWidth" value="15"/>
		<add key="DemoDuration" value="20"/>
		<add key="PopupAfterDemo" value="true"/>
		<add key="ShowProgressDuringDemo" value="true"/>
		<add key="ShowCarRuntimeInfoDuringDemo" value="true"/>
	</appSettings>
</configuration>